*{
    margin:0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}


header{
    padding: 8px 0;
    background-color: #0aacdc;
}

.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width: 50%;
    z-index: 4;
}

.logo a{
    color: white;
    text-decoration: none;
}
.logo h2{
    color:white;
    left: 130px;
    position: absolute;
}
.logo i{
    position: absolute;
    left: 30px;
    top: 15px;
    color: white;
    font-size: 25px; 
    cursor: pointer;
}

.form-busca{
    width: 50%;
    text-align: right;
}

.form-busca form{
    position: relative;
    display: inline-block;
    max-width: 200px;
}


.form-busca i{
    position: absolute;
    left: 10px;
    top: 7px;
    color: white;
    font-size: 25px;   
}


.form-busca input[type=text]{
    height: 40px;
    width: 100%;
    color: white;
    background-color: #0aacdc;
    padding-left: 35px;
    border-radius: 10px;
}

::placeholder{
    color: white;
    opacity: 1;
}
:-ms-input-placeholder{
    color: white;
}
::-ms-input-placeholder{
    color: white;
}

section.noticia-destaque{
    padding: 40px 0;
}

section.noticia-destaque > .center{
    max-width: 960px;
}

.img-destaque{
    width: 100%;
    position: relative;
}


.img-destaque img{
    width: 100%;
    border-radius: 20px;
}

.title-destaque-descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 600px;
    color: white;
    z-index: 1;
    padding: 8px;
}
.title-destaque-descricao h2{
    font-size: 53px;
    margin: 10px;
    padding: 20px;
}

.title-destaque-descricao p{
    font-size: 22px;
    margin: 10px;
    padding: 20px;
    font-weight: lighter;
}

.overlay-destaque{
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

section.outras-noticias{
    background-color: #EAEAEA;
    padding: 30px 20px;
    text-align: center;
}



.ultimas{
    width: 70%;
    padding: 0 0px;
    display: flex;
    flex-wrap: wrap;
    height: 70%;
}
.ultimas2{
    width: 100%;
    padding: 0 0px;
    display: flex;
    flex-wrap: wrap;
    height: 70%;
}

.box-ultimas{
    width: 49%;
    margin-right: 1%;
    background-color: white;
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
}
.box-ultimas2{
    width: 49%;
    margin-right: 1%;
    margin-top: 1%;
    background-color: white;
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
}

.box-ultimas img,.box-ultimas2 img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.box-ultimas > h3,.box-ultimas2 > h3{
    color: #33439b;
    font-size: 19px;
    margin: 20px;
    text-align: left;
    letter-spacing: 2.5px;
}

.box-ultimas > h2,.box-ultimas2 > h2{
    text-align: left;
    color: #303336;
    margin: 40px;
    font-size: 30px;
}

.box-ultimas > p,.box-ultimas2 > p{
    text-align: left;
    color:#7b8591;
    margin: 20px;
    padding: 10px;
    font-size: 19px;
}

.mais-lidas{
    background-color: #ffffff;
    width: 30%;
    border-radius: 10px;
}

.mais-lidas img{
    max-height: 189px;
    max-width: 195px;
}

.title-outras> h2{
    font-size: 50px;
}

.mais-lidas > h3,
.mais-lidas1 > h3{
    background-color: #3f51b5;
    color: white;
    text-align: center;
    letter-spacing: 2.30px;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 25px;
}

.mais-lidas1{
    background-color: #ffffff;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
    padding-left: 15px;
}

.mais-lidas1 img{
    max-height: 289px;
    max-width: 295px;
}


.title-text{
    display: flex;
    margin: 60px;
}


.title-text > h3{
    text-align: left;
    padding: 3%;
    letter-spacing: 1px;
}
.title-text > img{
    width: 15%;
}

.button-read{
    background-color: #ffffff;
    width: 30%;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #EBEBEB;
    margin: 20px;
}

.button-read > a{
    font-size: 15px;
    color: #0aacdc;
    cursor: pointer;
    text-decoration: none;
}

.button-read a:hover{
    color: black;
    transition: 0.3s;
}
.button-read:hover{
    background-color: #0aacdc;
    transition: 0.3s;
}
.most-read,.most-read1{
    display: flex;
}

.most-read img,.most-read1 img{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    height: 100%;
}

.texto-single span{
    font-weight: bold;
    font-size: 15px;
}

.texto-single h3{
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 25px;
    text-align: left;
    font-size: 20px;
    color:#303336;
}

.texto-single p{
    font-size: 17px;
    font-weight: lighter;
    text-align: left;
    margin-right: 5px;
    color:#7b8591;
}


footer{
    background-color: #0aacdc;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-size: 20px;
}

.box-ultimas1{
    width: 48%;
    position: relative;
    margin: 10px 10px 0 0 ;
}

.mais-lidas a,
.mais-lidas1 a{
    text-decoration: none;
    color: #7B8591;
}

.box-ultimas1 img{
    width: 100%;
    border-radius: 20px;
}

.last-texto1,
.last-texto2{
    bottom: 0;
    left: 0;
    
    color: white;
    z-index: 2;
    position: absolute;
    padding: 7px; 
    margin-bottom: 10px;
}

.last-texto1 >h4,
.last-texto2 >h4{
    text-align: left;
    padding: 25px;
    font-size: 20px;
    letter-spacing: 3.2px;
}

.last-texto1 > h5{
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    padding: 20px;
}

.overlay-last{
    border-radius: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}
.last-texto1 h4{
    color:white
}


section.noticia{
    background-color: #EAEAEA;
    padding: 20px 0;
}

.noticia-single{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 68%;
    margin: 0% 2% 2% 0%;
}

.noticia-single h2{
    color: #303336;
    font-size: 42px;
    text-align: left;
    padding: 1%;
}

.noticia-single h3{
    color: #303336;
    font-size: 33px;
    text-align: left;
    padding: 1%;
}

.autor-nome{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding:1%;
    color: #858585;
    letter-spacing: 3px;
}

.noticia-single p{
    color: #7B8591;
    font-size: 20px;
    padding: 1%;
}

.noticia-single img{
    width: 80%;
    border-radius: 20px;
    padding: 10px;
}

.result-busca{
    background-color: #33439b;
    border-radius: 15px;
    padding: 15px;
    color: white;
}

#menu{
    z-index: 4;
    position: absolute;
    left: 30px;
}

#menu-bar{
    width: 100%;
    height: 100%;
    margin: 12px 0 20px 20px;
    cursor: pointer;    
}

.bar{
    height: 4px;
    width: 30px;
    background-color:white;
    display: block;
    border-radius: 5px;
    transition: 0.5s;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav{
    transition: 1s;
    display: none;
    z-index: 3;
    position: absolute;
    left: -20px;

}

.nav ul{
    padding: 10px 22px;
    height: 500px;
    max-width: 600px;
}

.nav li{
    list-style: none;
    padding: 10px;
    text-align: left;
    margin: 5px;
}

.nav li a{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 8px;
    letter-spacing: 3px;
    border-radius: 20px;
}

.nav li a:hover{
    font-weight: bold;
    color: #303336;
    background-color: #0994be;
    transition: 0.5s;
}

.nav span{
    margin-left: 10px;
}


.menuBg{
    z-index: 2;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20;
    background:radial-gradient(circle,#0aacdc,#0aacdc);
    transition: 0.7s;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 2px 2px 2px #c7c7c7;
}


.change{
    display: block;
}

.changeOp{
    animation: fadeInText 0.6s ease-in;
    display: block;
    transition: 0.5s;
}

.change .bar{
    background-color: black;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-135deg);
}
.change #bar2{
    opacity: 0;
}
.change #bar3{
    transform: translateY(-4px) rotateZ(135deg);
}
.change-bg{
    width: 600px;
    height: 300px;
    top: 112px;
    transform: translate(-60%,-30%);
    border-radius: 10px;
    transition: 0.5s;
}

section.contato{
    background-color: #EAEAEA;
    height: 100%;
    width: 100%;
}

.card{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
}


.card-ctt{
    width: 59%;
    margin-right: 1%;
    background-color: white;
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
}

.card-ctt1{
    width: 39%;
    margin-right: 1%;
    background-color: white;
    padding-bottom: 20px;
    height: 100%;
    border-radius: 10px;
    flex-wrap: wrap;
}

.card-ctt img,.card-ctt1 img{
    border-radius: 10px 10px 0 0 ;
    width: 100%;
}

.card-ctt h2,.card-ctt1 h2{
    text-align: center;
    font-size: 28px;
    padding: 2%;
    padding-top:10px ;
}

.card-ctt p,.card-ctt1 p{
    text-align: center;
    font-size: 20px;
    color: #7b8591;
    padding: 3%;
    letter-spacing: 1px;
}

.card-ctt i{
    font-size: 35px;
    padding: 20px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding: 8px;
}


.card-ctt input{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #b6b6b6;
    border-radius: 5px;
}

.card-ctt input[type=text]{
    height: 100px;
}

.card-ctt button{
    background-color: white;
    border: 2px solid #b6b6b6;
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card-ctt button:hover{
    background-color: #0aacdc;
    color: white;
    transition: 0.7s;
}

.send-email{
    padding: 15px;
}

input[id=email]::placeholder,input[id=message]::placeholder,input[id=name]::placeholder{
    color: rgb(143, 143, 143);
    opacity: 1;
}


input[id=email]:-ms-input-placeholder,input[id=message]:-ms-input-placeholder,input[id=name]::placeholder{
    color: rgb(143, 143, 143);
}

input[id=email]::-ms-input-placeholder,input[id=message]::-ms-input-placeholder,input[id=name]::placeholder{
    color: rgb(143, 143, 143);
}


@keyframes fadeInText{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}




@media screen and (max-width:600px){
    .logo,.form-busca{width: 100%;}
    .form-busca,footer{
        text-align: right;
        margin-top: 10px;
    }

    .form-busca form{
        right: 0;
    }
    .title-destaque-descricao h2{
        font-size: 23px;
        text-align: left;
        margin: 10px;
        padding: 20px;
        width: 100%;
    }
    .title-destaque-descricao p{
        font-size: 18px;
        margin: 10px;
        padding: 20px;
        font-weight: lighter;
    }
    .mais-lidas,.ultimas,.box-ultimas{
        width: 100%;
        height: 30%;
        margin-bottom: 15px;
    }
    .mais-lidas1{
        width: 100%;
        margin-bottom: 15px;
    }
  
    .box-ultimas,
    .box-ultimas1,
    .box-ultimas2{
        width: 100%;
        height: 100%;
    }
    .box-ultimas2{
        margin-bottom: 2%;
    }

    section.outras-noticias h2{
        font-size: 30px;
    }

    section.contato{
        width: 100%;
        height: auto;
    }
    
    .card-ctt1,.card-ctt{
        margin-top: 10px;
    }

    .last-texto1,.card-ctt,.card-ctt1{
        width: 100%;
        height: 50%;
    }
    .card{
        width: 100%;
        margin-bottom: 15px;
        height: 100%;
        margin: 1%;
    }
    
    .last-texto1 h4{
        position: absolute;
        font-size: 17px;
        padding: 16px;
        margin-top: -60px;
    }
    .last-texto1 h5{
        font-size: 17px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .noticia-single{
        width: 100%;
    }

    .most-read img,.most-read1 img{
        height: 100%;
        width: 60%;        
    }

    header{
        text-align: center;
    }

    .texto-single h3{
        font-size: 16px;
    }
    .texto-single p{
        font-size: 14px;
    }

    .logo h2{
        left: 80px;
    }
    #menu{
        left: 10px;
    }

    .change-bg{
        width: 450px;
        height: 350px;
        top: 120px;
        transform: translate(-60%,-30%);
        border-radius: 10px;
    }

    .form-busca{
        margin-top: 0;
    }

    .nav li a{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 18px;
        text-decoration: none;
        padding: 8px;
        letter-spacing: 1.55px;
        border-radius: 10px;
        margin-bottom: 100px;
    }
    .nav li{
        margin-bottom: 25;
    }

    .nav {
        transition: 1s;
        z-index: 3;
        position: absolute;
        left:-15;
    }

    .menuBg{
        box-shadow: 1px 1px 1px #a0a0a0;
    }
}