<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="/public/style.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body>
        <header>
            <title>FTL News</title>
            <div class="center">
                <div class="logo">
                    <div id="menu">
                        <div id="menu-bar" onclick="menuClick()">
                            <div id="bar1" class="bar"> </div>
                            <div id="bar2" class="bar"> </div>
                            <div id="bar3" class="bar"> </div>
                        </div>
                    </div>
                    <h2><a href="/"><span style="font-weight: lighter;">FTL</span><b>News</b></a></h2>
                    
                </div>
                <div class="form-busca">
                    <form action="/">
                        <i class="fa fa-search" aria-hidden="true" name="search"></i>
                        <input type="text" placeholder="Buscar" name="busca"/>
                    </form>
                </div>
            </div>
        </header>
        <div id="menu">
            <ul class="nav" id="nav">
                <li class="li"><a href="/"> <i class="fa fa-home" aria-hidden="true"><span>Home</span></i></a></li>
                <li class="li"><a href="/mais-lidas"> <i class="fa fa-book" aria-hidden="true"><span>Mais Lidas</span></i></a></li>
                <li class="li"><a href="/programacao"> <i class="fa fa-code" aria-hidden="true"><span>Programação</span></i></a></li>
                <li class="li"><a href="/tecnologia"> <i class="fa fa-cogs" aria-hidden="true"><span>Tecnologia</span></i></a></li>
                <li class="li"><a href="/contato"> <i class="fa fa-envelope-o" aria-hidden="true"><span>Contato</span></i></a></li>
            </ul>
        </div>
        <div class="menuBg" id="menuBg"></div>
        <script>
            function menuClick(){
                document.getElementById("menu-bar").classList.toggle("change");
                document.getElementById("nav").classList.toggle("changeOp");
                document.getElementById("menuBg").classList.toggle("change-bg");
            }
        </script>
        