<%- include("partials/header.html") %>
<section class="contato">
    <div class="center">
        <div class="card">
            <div class="card-ctt1">
                <img src="/public/290395363_177767771296017_8219813366495154362_n.jpg">
                <h2>João Ortiz</h2>
                <p>Cursando Ciência da Computação com excelência na Unisagrado, buscando sempre mais conhecimento e inovação, focado na área de desenvolvimento web, a procura do primeiro emprego na área com muito interesse e vontade de aprender.</p>
            </div>
            <div class="card-ctt">
                <br>
                <h2>Envie uma mensagem</h2>
                <div class="send-email">
                    <form action="https://formsubmit.co/fbe94f4140da81cb3683dc58f3dc8865" method="POST">
                        <input type="name" placeholder="Nome: " name="name" id="name" required>
                        <input type="email"  placeholder="E-mail: " name="email" id="email" required>
                        <input type="text" name="message" id="message" required placeholder="Mensagem: ">
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                <br>
                <div class="social">
                    <h2>Redes Sociais</h2>
                    <a href="https://www.linkedin.com/in/joao-ortiz1998/"><i class="fa fa-linkedin-square" aria-hidden="true"><span>Linkedin</span></i></a>
                    <a href="https://github.com/JoaoOrtiz1/Projects"><i class="fa fa-github-square" aria-hidden="true"><span>Github</span></i></a>  
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.html") %>
    </body>
</html>