<%- include("partials/header.html") %>
<section class="outras-noticias">
    <div class="title-outras">
        <h2><%= menuPage[0].catTitulo %></h2>
        <br><br>
        <div class="center">
            <div class="ultimas2">
                <% for(let i = menuPage[0].nStart; i < menuPage[0].nLimit; i++){ %>
                <div class="box-ultimas2">
                    <img src="<%= menuPage[i].imagem %>"/>
                    <h3><%= menuPage[i].categoria %></h3>
                    <h2><%= menuPage[i].titulo %></h2>
                    <p><%- menuPage[i].descri %></p>
                    <div class="button-read">
                        <a href="<%= menuPage[i].slug %>">LER MAIS</a>
                    </div>
                </div>
                <% } %> 
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.html") %>
</body>
</html>